body {
    background-color: aquamarine;
}

#container {
    background-color: aquamarine;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#crystals {
    justify-content: center;
}

#wins {
    float: left;
}

#losses {
    float: right;
}