body {
    background-image: url("/assets/images/background_img.jpg");
}

#container {
    background-color: aquamarine;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#crystals {
    display: flex;
    justify-content: space-around;
    background-color: white;
}

header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    text-align: center;
}